<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<title>telematicaApp</title>
	</head>

	<body class="container" ng-app>
		<h1>especifique los parametros con los que quiere crear la maquina virtual</h1>
		<hr>
		<form action="">
			<div>
				<label title="nombre de la maquina virtual">nombre</label>
				<input type="text" name="name" ng-model="name">
			</div>
			<div>
				<label title="almacenamiento de la maquina virtual">almacenamiento</label>
				<input type="text" name="vm_size" ng-model="vmSize">
			</div>
			<div>
				<label title="direccion ip en la que se localizara la maquina virtual">direccion ip publica</label>
				<input type="text" name="public_ip_address_allocation" ng-model="publicIpAdress">
			</div>
			<div>
				<div>
					<label title="nombre de administrador para iniciar sesion">usuario</label>
					<input type="text" name="admin_username" ng-model="username">
				</div>
				<div>
					<label title="contraseña de administrador para iniciar sesion">contraseña</label>
					<input type="password" name="admin_password" ng-model="password">
				</div>
				<div>
					<label title="contraseña">confirmar contraseña</label>
					<input type="password" name="admin_password_confirm" ng-model="passwordConfrim">
				</div>
			</div>
		</form>
	</body>
</html>