<!doctype html>
<html lang="en">
	<body class="container" ng-app="formulario">
		<h1 class="display-4 text-center">Especifique los parametros con los que quiere crear la maquina virtual</h1>
		<hr>
		<form ng-controller="virtualMachineCtrl as vm" ng-submit="vm.submit()">
			<div class="row">
				<label class="col-4 h2" title="nombre de la maquina virtual">nombre: {{vm.vm.name}}</label>
				<input required class="col" type="text" placeholder="ej: terraformvm" ng-model="vm.vm.name">
			</div>
			<br>
			<div class="row">
				<label class="col-4 h2" title="almacenamiento de la maquina virtual">almacenamiento:</label>
				<input required class="col" type="text" placeholder="ej: Standard_A0" ng-model="vm.vm.vmSize">
			</div>
			<br>
			<div class="row">
				<label class="col-4 h2" title="direccion IP en la que se localizara la maquina virtual">direccion IP publica:</label>
				<input required class="col" type="text" placeholder="ej: dynamic" ng-model="vm.vm.publicIpAdress">
			</div>
			<br>
			<div>
				<div class="row">
					<label class="col-4 h2" title="nombre de administrador para iniciar sesion">usuario:</label>
					<input class="col" type="text" placeholder="ej: carlos" ng-model="vm.vm.username">
				</div>
				<br>
				<div class="row">
					<label class="col-4 h2" title="contraseña de administrador para iniciar sesion">contraseña:</label>
					<input class="col" type="password" placeholder="ej: Password1234!" ng-model="vm.vm.password">
				</div>
				<br>
				<div class="row">
					<label class="col-4 h2" title="contraseña">confirmar contraseña:</label>
					<input class="col" type="password" placeholder="ej: Password1234!" ng-model="vm.passwordConfirm">
				</div>
			</div>
			<br>
			<input class="btn-primary btn-block" type="submit">
		</form>
	</body>
</html>
